# Dependencias
node_modules
npm-debug.log*



# Logs
logs
*.log

# Archivos de distribución
dist
build

# Archivos de test
coverage
.nyc_output

# Archivos de IDE
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db



